.App {
  font-family: sans-serif;
  text-align: center;
  border-radius: 1rem;
}

.links {
  border: 1px solid #7530ea;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #7530ea;
  color: white;
}

.bink {
  text-decoration: none;
  color: white;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
